{% extends "admin/base_site.html" %}
{% load static %}

{% block branding %}
    <h1>django-addanother demo</h1>
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% static jquery %}"></script>
{{ form.media }}
{% endblock %}

{% block content %}
<div style="display: inline-block; width: 65%; vertical-align:top;">
    <p>
        django-addanother is a small app to enable the "add another" popup
        feature outside Django's admin.
    </p>
    <p>
        If you want to replace select fields with autocompletes, try
        <a href="https://github.com/yourlabs/django-autocomplete-light">django-autocomplete-light</a>.
    </p>

    <h2>AddAnotherWidgetWrapper</h2>
    <form action="" method="post" style="padding: 20px; border: 1px solid #ddd">
        <table>
          {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit" />
    </form>
    
</div>
<div style="display: inline-block; width: 29%; margin-left: 5%; vertical-align:top;">
    <h2>Need help?</h2>
    <p>
        If you can reproduce a bug in the demo project, it will be made a
        priority to fix it, and add regression test to prevent it from occuring
        again in the future. In this case, please clone the
        <a
            href="https://github.com/jonashaag/django-addanother"
            title="Add-another popup outside django admin"
        >GitHub repository</a>, configure the simplest example you can in a new app in
        <code>test_project</code> and submit your pull request.
    </p>
    <p>
        The easier you make it for us to reproduce your issue in an isolated
        use-case, the best are your chances to get a satisfying answer.
    </p>
</div>
{% endblock %}
