{% extends "admin/base_site.html" %}
{% load static %}

{% block branding %}
    <h1>django-addanother demo</h1>
{% endblock %}

{% block content %}
<div style="display: inline-block; width: 49%; vertical-align:top;">
    <h2>django-addanother example form</h2>
    <p>
        django-addanother is a small app to enable the "Add-another" popup
        feature outside the admin.
    </p>
    <p>
        If you want to replace select fields with autocompletes, try <a
            href="https://github.com/yourlabs/django-autocomplete-light"
            title="django-autocomplete-light, the best autocomplete app"
        >django-autocomplete-light</a>

    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Submit" />
    </form>

    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
</div>
<div style="display: inline-block; width: 49%; vertical-align:top;">
    <h2>Need help ?</h2>
    <p>
        If you can reproduce a bug in the demo project, it will be made a
        priority to fix it, and add regression test to prevent it from occuring
        again in the future. In this case, please clone the
        <a
            href="https://github.com/yourlabs/django-addanother"
            title="Add-another popup outside django admin"
        >Repository</a>, configure the simplest example you can in a new app in
        test_project and submit your pull request.
    </p>
    <p>
        The easier you make it for us to reproduce your issue in an isolated
        use-case, the best are your chances to have a satisfying answer.
    </p>
    <p>
        For any general Django question, consider <a
            href="https://hackhands.com/jpic">paid support</a> for this app and
        Django in general !
        <!-- contributors please submit a PR to add your URL here -->
    </p>
</div>
{% endblock %}
